<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Web-API - @ViewBag.Title</title>
    @Styles.Render("~/Library/CSS/BootstrapCSS")
    @Styles.Render("~/Content/Main/Maincss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Action("_NavBar", "Home")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Student Web-API</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @RenderSection("scripts", required: false)
</body>
</html>